<%# トップページ、その他詳細ページ用 %>
<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class="header-name">
    <a href="#">BODY MAINTENANCE</a>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to 'name', "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', "#", method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', "#", class: "login" %></li>
        <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>